<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>SIMONYI TERMEK</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/x-icon"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <div class="alert alert-danger" role="alert">
            A kért oldal megtekintéséhez nincsen jogosultságod!
        </div>
    </div>


</div>

<script th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>