<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>SIMONYI TERMEK</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/x-icon"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <h1>Köszöntünk a Simonyi teremfoglaló oldalán!</h1>
        <h2>A foglaláshoz jelentkezz be!</h2>
        <a th:href="@{/requests}" class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</a>
    </div>


</div>

<script th:href="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>