<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Bejelentkezés</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        input, button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <form class="form-signin" name="f" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Jelentkezz be</h2>

        <div th:if="${param.error}" class="alert alert-error">
            Hibás felhasználónév vagy jelszó
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Sikeres kijelentkezés
        </div>

        <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználónév"></input>
        <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó"></input>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
</body>
</html>