<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>SIMONYI TERMEK - Erőforrások kezelése</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/x-icon"/>


</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <h1>Erőforrások adminisztrációja</h1>
    </div>

    <div th:if="${message != null}" th:text="${message}" class="alert alert-info" role="alert">...</div>

    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapseResource" aria-expanded="false"
                                      aria-controls="collapseResource">Új erőforrás hozzáadása</a></div>
        <form th:action="*{resourceID} ? @{/manage/updateResource/} + *{resourceID} : @{/manage/createResource}"
              th:object="${resource}" method="post"
              accept-charset="UTF-8">
            <div class="panel-body collapse" th:classappend="*{resourceID} ? 'in' : ''" id="collapseResource">

                <div class="form-group">
                    <label for="resourceName">Erőforrás megnevezése</label>
                    <input type="text" class="form-control" id="resourceName" name="resourceName" placeholder="Név"
                           th:field="*{resourceName}"></input>
                </div>
                <div class="form-group">
                    <label for="description">Erőforrás leírása</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Leírás"
                           th:field="*{description}"></input>
                </div>
                <div class="form-group">
                    <label for="resourceTypeID">Erőforrás típusa</label>
                    <select class="form-control" id="resourceTypeID" name="resourceTypeID">
                        <option th:each="resourceTypeElement : ${resourceTypeList}"
                                th:value="${resourceTypeElement.resourceTypeID}"
                                th:text="${resourceTypeElement.name}"
                                th:selected="${resource.resourceType} ? ${resource.resourceType.resourceTypeID.equals(resourceTypeElement.resourceTypeID)} : ''"
                        ></option>
                    </select>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="active" name="active" th:field="*{active}"></input> Aktív
                        <small>(használható)</small>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="archived" name="archived" th:field="*{archived}"></input>
                        Archivált
                        <small>(megszűnt)</small>
                    </label>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Küldés"></input>

            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#collapseResourceType" aria-expanded="false"
                                      aria-controls="collapseResourceType">Új erőforrástípus hozzáadása</a></div>
        <form th:action="*{resourceTypeID} ? @{/manage/updateResourceType/} + *{resourceTypeID} : @{/manage/createResourceType}"
              th:object="${resourceType}" method="post"
              accept-charset="UTF-8">
            <div class="panel-body collapse" th:classappend="*{resourceTypeID} ? 'in' : ''" id="collapseResourceType">

                <div class="form-group">
                    <label for="resourceName">Erőforrás megnevezése</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Név"
                           th:field="*{name}"></input>
                </div>
                <div class="form-group">
                    <label for="description">Erőforrás leírása</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Leírás"
                           th:field="*{description}"></input>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Küldés"></input>

            </div>
        </form>
    </div>

    <table class="table table-hovered table-bordered">
        <thead>
        <th>Erőforrás neve</th>
        <th>Erőforrás típusa</th>
        <th>Erőforrás leírása</th>
        <th>Erőforrás használható</th>
        <th>Erőforrás archív (megszűnt)</th>
        </thead>
        <tbody>
        <tr th:each="res_element : ${resourceList}">
            <td><a th:href="@{/manage/updateResource/} + ${res_element.resourceID}"
                   th:text="${res_element.resourceName}">Ex. Room</a></td>
            <td th:text="${res_element.resourceType.name}">Rooms</td>
            <td th:text="${res_element.description}">A simple room</td>
            <td align="center"><a th:href="@{/manage/changeActive/} + ${res_element.resourceID}"><span class="glyphicon"
                                                                                                       aria-hidden="true"
                                                                                                       th:classappend="${res_element.active} ? glyphicon-ok : glyphicon-lock"></span></a>
            </td>
            <td align="center"><a th:href="@{/manage/changeArchive/} + ${res_element.resourceID}"><span
                    class="glyphicon" aria-hidden="true"
                    th:classappend="${res_element.archived} ? glyphicon-ok : glyphicon-remove"></span></a></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hovered table-bordered">
        <thead>
        <th>Erőforrástípus neve</th>
        <th>Erőforrástípus leírása</th>
        </thead>
        <tbody>
        <tr th:each="restype_element : ${resourceTypeList}">
            <td><a th:href="@{/manage/updateResourceType/} + ${restype_element.resourceTypeID}"
                   th:text="${restype_element.name}">Rooms</a></td>
            <td th:text="${restype_element.description}">Simple rooms</td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>