<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <title>SIMONYI TERMEK - Foglalások</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/x-icon"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="page-header">
        <h1>Foglalások</h1>
    </div>

    <div th:if="${message != null}" th:text="${message}" class="alert alert-info" role="alert">...</div>

    <!-- ApproveModal -->
    <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Foglalás visszajelzése</h4>
                </div>
                <form th:action="@{/request/approveRequest/}" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="requestID" id="requestID"></input>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Megjegyzés</label>
                            <input type="text" class="form-control" id="textToAppend" name="textToAppend"
                                   placeholder="Foglalás visszaigazolásával kapcsolatos jegyzet"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                        <input type="submit" class="btn btn-primary" value="Mentés"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- DeclineModal -->
    <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Foglalás visszajelzése</h4>
                </div>
                <form th:action="@{/request/declineRequest/}" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="requestID" id="requestID"></input>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Megjegyzés</label>
                            <input type="text" class="form-control" id="textToAppend" name="textToAppend"
                                   placeholder="Foglalás visszaigazolásával kapcsolatos jegyzet"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                        <input type="submit" class="btn btn-primary" value="Mentés"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="well">
        <a href="#" th:href="@{/request/createRequest/}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Új foglalás leadása</button>
        </a>
    </div>


    <table class="table table-hovered table-bordered">
        <thead>
        <th>Foglalás időpontja</th>
        <th>Foglalt erőforrás</th>
        <th>Állapot</th>
        <th>Esemény neve</th>
        <th>Eszközök</th>
        </thead>
        <tbody>
        <tr th:each="requestElement : ${requestList}">
            <td th:utext="${requestElement.dateFrom} + '&lt;br /&gt;' + ${requestElement.dateTo}"></td>
            <td th:text="${requestElement.resource.resourceName}">102</td>
            <td th:text="${requestElement.requestStatus.name}">Új, nem feldolgozott</td>
            <td th:text="${requestElement.eventName}">Esemény neve</td>
            <td>
                <button sec:authorize="hasRole('ROLE_ADMIN')" id="approveButton" class="btn btn-success" data-toggle="modal" data-target="#approveModal"
                        th:attr="data-whatever=${requestElement.requestID}">
                    <span class="glyphicon glyphicon-ok"></span> Elfogadás
                </button>
                <button sec:authorize="hasRole('ROLE_ADMIN')" id="declineButton" class="btn btn-danger" data-toggle="modal" data-target="#declineModal"
                        th:attr="data-whatever=${requestElement.requestID}">
                    <span class="glyphicon glyphicon-remove"></span> Elutasítás
                </button>
                <a href="#" th:href="@{/request/updateRequest/} + ${requestElement.requestID}">
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span> Módosítás
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $('#approveModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var transferredID = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#requestID').val(transferredID)
    })
    $('#declineModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var transferredID = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#requestID').val(transferredID)
    })
</script>
</body>
</html>